@font-face
	font-family: Tiempos
	src: url(../fonts/bf83.TiemposTextWeb-Regular.eot)
	src: local("â˜º"), url(../fonts/ce46.TiemposTextWeb-Regular.woff) format("woff")


@font-face
	font-family: TiemposItalic
	src: url(../fonts/7a58.TiemposTextWeb-RegularItalic.eot)
	src: local("â˜º"), url(../fonts/c0f7.TiemposTextWeb-RegularItalic.woff) format("woff")


@font-face
	font-family: TiemposBold
	src: url(../fonts/TTiemposTextWeb-Semibold.eot)
	src: local("â˜º"), url(../fonts/4d74.TiemposTextWeb-Semibold.woff) format("woff")


@font-face
	font-family: TiemposBoldItalic
	src: url(../fonts/b3e2.TiemposTextWeb-SemiboldItalic.eot)
	src: local("â˜º"), url(../fonts/a97b.TiemposTextWeb-SemiboldItalic.woff) format("woff")


*
	margin: 0px
	padding: 0px
	font: TiemposBold,serif
	color: white
	text-rendering: optimizeLegibility

body
	background: black
	font: TiemposBold,serif
	margin: 0px
	padding: 0px


h1
	font-weight: bold
	-webkit-font-smoothing: antialiased
	padding-bottom: 20px

h1, h2, h3, p
	-webkit-font-smoothing: antialiased	

header
	position: absolute
	bottom: 0
	width: 100%
	height: 75px
	background: black
	z-index: 888888


section
	height: 100vh
	&#banner
		// position: fixed
		// height: 100%
		// width: 100%

.fixed
	position: fixed
	top: 0

.center
	margin: 0 auto
	width: 50%
	text-align: center

// #banner
// 	div
// 		background: orange
// 		position: relative
// 		height: 100%

#content
	position: relative
	z-index: 50
	background: white
	z-index: 888888

.outer
	display: table
	position: fixed
	height: 100%
	width: 100%
	z-index: 111111
	background-image: url('../images/background_one.jpg')
	background-repeat: none
	background-size: cover
	background-position: center center


.middle
	display: table-cell
	vertical-align: middle

.inner
	margin-left: auto
	margin-right: auto
	width: 60%
	// background: black
	padding: 20px
	margin-top: -100px
	transform: translate(0px, 0px)

// .inner.show	
// 	transform: translate(0px, -0px)
// 	transition: all 1s ease-in-out


.inner > *, .down > *
	opacity: 0
	transform: translate(0px, -5px)
	&.show
		opacity: 1
		transform: translate(0px, 0px)
		transition: all 1s ease-in-out

.inner
	transition: all 1s ease-in-out
	img
		width: 90%
		text-align: center
		max-width: 700px

.inner.hide
	opacity: 0
	transition: all 1s ease-in-out
	

.cataInfo
	max-width: 420px
	margin: 0 auto
	padding: 20px
	font-size: 21px
	line-height: 25px
	a
		padding-top: 30px
		font-size: 18px
		// border-bottom: solid 1px
		text-decoration: none


.more
	display: block

.down
	position: absolute
	bottom: 100px
	left: 50%
	margin-left: -20px
	transition: all 1s ease-in-out
	z-index: 999999
	cursor: pointer

.down span
	height: 40px
	width: 40px
	background-image: url('../images/down-arrow-01.png')
	background: url('../images/down-arrow-01.svg')
	background-repeat: no-repeat
	cursor: pointer
	display: block

.down.hide
	opacity: 0
	transition: all 0.5s ease-in-out


// Slide JS Code



#slides
	display: none



// Already done

header nav ul.main
	display: block
	position: relative
	width: 1100px
	margin: 0 auto
	height: 4.6875em
	z-index: 3
	box-sizing: border-box

header nav a.logo img
	width: 12.5em
	margin-top: 1.0625em
	transition: all cubic-bezier(0.68,.02,.33,.99) .3s


header ul li
	display: inline
	a
		text-decoration: none


header nav a.logo
	width: 50%
	text-align: center
	display: block
	position: absolute
	left: 50%
	top: 0
	margin-left: -25%
	text-align: center
	color: #fff

li.shop
	width: 3.125em
	height: 4.6875em
	line-height: 4.6875em
	display: block
	position: absolute
	top: 0
	left: 1.25em

li.info
	width: 3.125em
	height: 4.6875em
	line-height: 4.6875em
	display: block
	position: absolute
	top: 0
	right: 1.25em

@media only screen and (max-width: 640px)
	.inner
		width: 90%


// loading animation

.loading
	background: black
	height: 100%
	width: 100%
	top: 0px
	bottom: 0px
	left: 0px
	right: 0px
	position: fixed
	-webkit-transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
	-moz-transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
	transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
	z-index: 999999

.content
	background: white
	height: 500px
	width: 960px
	margin: 0 auto
	margin-top: 100px

.loading .logo
	width: 10px
	height: 10px
	position: absolute
	top: 50%
	left: 50%
	margin: -5px 0 0 -5px
	background: rgba(0, 0, 0, 0.8)
	border-radius: 20px


=keyframes($animation-name)
	@-webkit-keyframes #{$animation-name}
		@content

	@-moz-keyframes #{$animation-name}
		@content

	@-ms-keyframes #{$animation-name}
		@content

	@-o-keyframes #{$animation-name}
		@content

	@keyframes #{$animation-name}
		@content

=animation($str)
	animation: #{$str}

+keyframes(pulse)
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1


.loading .logo
	+animation("pulse 1s infinite")


.loading.hidden
	opacity: 0
	visibility: hidden






