*
	margin: 0px
	padding: 0px
	font: 16px/21px Helvetica
	color: white

body
	background: yellow
	font-family: helvetica
	margin: 0px
	padding: 0px

h1
	font-weight: bold

header
	position: absolute
	bottom: 0
	width: 100%
	height: 75px
	background: black
	z-index: 999999

section
	height: 100vh
	&#banner
		background: blue

.fixed
	position: fixed
	top: 0

.center
	margin: 0 auto
	width: 50%
	text-align: center

// #banner
// 	div
// 		background: orange
// 		position: relative
// 		height: 100%

#content
	position: relative
	z-index: 50
	background: white

.outer
	display: table
	position: fixed
	height: 100%
	width: 100%
	z-index: 555555


.middle
	display: table-cell
	vertical-align: middle

.inner
	margin-left: auto
	margin-right: auto
	width: 60%
	// background: black
	padding: 20px
	margin-top: -100px
	transform: translate(0px, 0px)

// .inner.show	
// 	transform: translate(0px, -0px)
// 	transition: all 1s ease-in-out


.inner > *, .down > *
	opacity: 0
	transform: translate(0px, -5px)
	&.show
		opacity: 1
		transform: translate(0px, 0px)
		transition: all 1s ease-in-out

.inner
	transition: all 1s ease-in-out

.inner.hide
	opacity: 0
	transition: all 1s ease-in-out


.more
	display: block

.down
	position: absolute
	bottom: 100px
	left: 50%
	margin-left: -20px
	transition: all 1s ease-in-out
	z-index: 999999
	cursor: pointer

.down span
	height: 40px
	width: 40px
	background-image: url('../images/down-arrow-01.png')
	background: url('../images/down-arrow-01.svg')
	background-repeat: no-repeat
	cursor: pointer
	display: block

.down.hide
	opacity: 0
	transition: all 0.5s ease-in-out
